# Python cache
__pycache__/
*.py[cod]
*.so
.pytest_cache/

# Virtual environment
env/
venv/
venv-rag/

# Environment variables
.env

# Logs (SQLite DB or old log files)
monitor/logs/logs.db
!monitor/logs/.gitkeep

# Docker
.docker/
docker-compose.override.yml

# FastText model files
fast_text/models/*.bin

# Streamlit-specific
.streamlit/config.toml

